<footer class="footer">
    <div class="footer_title">
      <h1>CodeNote</h1>
    </div>
    <div>
      <span><a href="">About</a></span>
      <span><a href="">Terms</a></span>
      <span><a href="">Privacy</a></span>
    </div>
</footer>